body {
    background-color: rgb(255,99,71) ;
    color: #222222;
}

.navigatie {
    background-color: #ffd602;
}

.navigatie a {
  color: inherit;
  text-decoration: none;
}

.summary {
    background-color: #222222;
}

.summary h2{
    color: white ;
}

.summary p{
    color: #ffd602;
}

hr {
    border: 1px solid #ffd602;
}